.radioFormContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.radioButtons {
  display: flex;
  gap: 6px;
}

.textStyles {
  flex: 1;
}

.inputsStyles {
  flex: 1;
}

.displayAdaptive {
  @media screen and (max-width: 639px) {
    display: none;
  }
}

.selectStyles {
  max-width: 100%;
  width: 100%;
}

.selectDisplay {
  @media screen and (min-width: 640px) {
    display: none;
  }
}
