body {
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

&::-webkit-scrollbar {
  width: 3px;
}

.App {
  background-color: #f9fafb;
  max-height: 100%;
  height: 100vh;
}
