.button {
  max-width: 300px;
  width: 100%;
  padding: 10px 14px;
  color: #fff;
  background-color: #3b82f6;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid;
  cursor: pointer;
  @media screen and (max-width: 639px) {
    max-width: 100%;
  }
  &:disabled {
    cursor: auto;
    background-color: #bbb;
  }
}

.backButton {
  max-width: 300px;
  width: 100%;
  padding: 10px 14px;
  border-radius: 4px;
  background-color: #fff;
  @media screen and (max-width: 639px) {
    max-width: 100%;
    order: 2;
  }
}
